
/* ナビゲーションボタン */
.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 30px;
}

@media (min-width: 768px) {
  .navbtn {
    display: none;
  }
}

/* ナビゲーションメニュー：モバイル */
@media (max-width: 767px) {

  .open .navbtn {
    position: relative;
    z-index: 200;
    color: #ffffff;
  }
  .nav {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background-color: #4e483ae6;
    transition: transform 0.3s;
  }
  .open .nav {
    transform: translate(-100%, 0);
  }
  .open body {
    position: fixed;
    overflow: hidden;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    color: #ffffff;
  }
}

/* ナビゲーションメニュー：PC */
@media (min-width: 768px) {
  .nav ul {
    display: flex;
    gap: 40px;
    color: #707070;
  }
}
