
/* プラン：カード */
.plan {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border-radius: 20px;
  background-color: #ffffff;
}

.plan h3 {
  margin-bottom: 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 400;
}

.plan :global(.desc) {
  margin-bottom: 38px;
}

.plan :global(.price) {
  margin-top: auto;
  margin-bottom: 22px;
  font-size: 26px;
  font-weight: bold;
}

.plan :global(.btn) {
  width: auto;
}
