.posts {
  padding: var(--v-space) 0;
  background-color: #f3f1ed;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 25px;
}

@media (min-width: 768px) {
  .posts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
