.sns {
  display: flex;
  gap: 24px;
  font-size: 24px;
}

.sns a {
  display: grid;
  place-items: center;
  width: 36px;
  aspect-ratio: 1 / 1;
  background-color: #cccccc;
  color: #ffffff;
  clip-path: circle(50%);
}

@supports not (aspect-ratio: 1 / 1) {
  .sns a {
    height: 36px;
  }
}
